.flight-container {
    display: flex;
    position: relative;
    gap: 1rem; 
}

.flight-card {
    position: relative;
    height: 150px;
    width: 300px;
    background-color: gray;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
}

.flight-card:hover {
    outline: 1px solid var(--highlight-color);
    border-radius: 8px;
    color: #ddd;
}
.switch-card {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--background-color); 

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.flight-card {
  position: relative;
  cursor: pointer; /* indicates clickable */
}

.selection-overlay {
  position: absolute;
  top: 100%; /* appear below card, or 0 if over card */
  left: 0;
  width: 100%;
  z-index: 10;
}

.rotated {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

.switch-card svg {
    transition: transform 0.5s ease;
}

h1, p {
    margin: 0;
}


.selection-overlay {
    position: absolute;
    inset: 0; 

    transform: translateY(80px);

    display: flex;
    align-items: center;
    justify-content: center;


    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;

    border-radius: 8px;
    z-index: 10;
}

.flight-card:hover .selection-overlay {
    opacity: 1;
    pointer-events: auto;
}