.bar {
    background-color: #111;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center; 
    align-items: center;
} 

.content {
    width: 80%;
    max-width: 1920px;
    height: 80%;
    transition: all 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: "Palatino Linotype", Palatino;
    font-weight: 100;   
    font-size: 22px;
    gap: 10px;
    margin-top: 22px;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: auto;
}

.group ul{
    list-style: none;
    margin: 6px 12px;
}

.group li{
    margin-bottom: 10px;
    color: #ccc;
}

.group li:hover, .info span:hover {
    text-decoration: underline;
    cursor: pointer;
}

h4 {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}

.info {
    margin-top: 20px;
    color: #999;
    font-weight: 100;
    display: flex;
    gap: 40px;
    justify-content: center; 
}

@media screen and (max-width: 1100px) {
    .content {
        width: 100%;
    }

    .logo {
        margin: 22px 0 0 22px;
    }

    .columns {
        margin: 25px;
    }
}

@media screen and (max-width: 900px) {
    .bar { 
        height: auto; }
    .columns {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
    }
    .info {
        margin: 0 20px;
    }
}