.bar {
    margin: 0;
    top: 0;
    padding: 0 10px;
    width: 100vw;
    background-color: #111;
    box-shadow: 0 8px 20px -2px rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between; 
    height: 80px;

    z-index: 100;
    position: sticky;
}

.brand {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    font-family: "Palatino Linotype", Palatino;
    font-weight: 100;
}
.options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}

.list {
    display: flex;
    gap: 20px;
    list-style: none;
    text-transform: uppercase;
}

.link {
    cursor: pointer;
}

.item {
    list-style: none; 
    color: #eee;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease-in;
}

.item:hover {
    border-bottom: 3px solid #f8b500;
}

.auth {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 12px;
}

.language {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid rgba(255, 255, 255, 0.4);
    color: #eee;
    background: transparent;
    cursor: pointer;
}

.userIcon {
    width: 40px;
    border-radius: 50%;
}

.signIn {
    margin-right: 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.signIn a  {
    color: black;
    font-weight: 600;
}

@media (max-width: 450px) {
    .logo {
        width: 40px;
        margin-left: -10px;
    }
    .title {
        font-size: 18px;
        margin-left: -10px;
    }

  
}

@media (max-width: 900px) {
    .options {
        position: relative;
        display: inline-block;
        left: 25%;
    }
}

@media (max-width: 750px) {
    .options {
        display: none;
    }
}

@media (max-width: 875px) {
    .options.french {
        display: none;
    }
}
