.heroSplashWrapper {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    position: relative; 
    overflow: hidden;  
    transition: height 0.3s ease;
}

.heroSplash {
    width: 100%;   
    height: 100vh;

    display: block;  
    position: absolute;  
    z-index: -2;

    object-fit: cover;
    object-position: center; 
    
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 80%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
}

.radial {
    filter: blur(5px) brightness(1.2);
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -3;

    object-fit: cover; 
    object-position: center;
    -webkit-mask-image: none;
}

.featuredFlights {
    top: 0;
    width: 100%;
    height: 600px;
    background-color: white;
    z-index: -4;
}

.tripSearch {
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 750px) {
  .tripSearch {
    transform: scale(0.9);
  }
}

@media (max-width: 650px) {
  .tripSearch {
    transform: scale(0.8);
  }
}

@media (max-width: 550px) {
  .tripSearch {
    transform: scale(0.7);
  }
}

@media (max-width: 450px) {
  .tripSearch {
    transform: scale(0.6);
  }
}

@media (max-width: 350px) {
  .tripSearch {
    transform: scale(0.5);
  }
}