.featuredFlightsContainer {
  padding: 40px 0 120px 0;
}

.featuredFlightsHeading {
  color: #404040;
  font-variant: small-caps;
  text-transform: uppercase;
  text-decoration:overline 2px #f8b500;
  width: 60%;
  padding-bottom: 20px;
  margin: 0 auto;
}
.featuredFlightsRow {
  display: flex;
  gap: 17px;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 8px;
}

.carouselWrapper {
  position: relative;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #2a2a2a;
  z-index: 2;
  transition: all ease 0.3s;
}

.left {
  left: -32px;
}

.right {
  right: -32px;
}

.arrow:hover {
  color: #380875;
}

.carouselDots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  opacity: 80%;
}

.dot {
  transition: all 0.3s ease;
  width: 16px;
  height: 2px;
  border-radius: 30%;
  background-color: #111;
  opacity: 30%;
}

.dot.active {
  transition: all 0.3s ease;
  width: 24px;
  opacity: 100%;
}