.card {
  flex: 0 0 calc((100% - 32px) / 3);
  position: relative;
  width: 100%;
  height: 160px;
  overflow: hidden;
  cursor: pointer;
  scroll-snap-align: start;
}

.image {
  background-image: var(--to-image);
  
  position: absolute;
  inset: 0;
  filter: contrast(70%) blur(1px);

  transition: filter ease-in 0.3s;
}
.image:hover{
  filter: none;
}

.image::before,
.image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
 
}

.image::before {
  background-image: var(--to-image);
}

.card:hover .image::before {
  transform: scale(1.05);
}

.mask {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

@media (max-width: 1200px) {
  .card {
    flex: 0 0 calc((100% - 16px) / 2);
  }
}

@media (min-width: 1920px) {
  .card {
    flex: 0 0 calc((100% - 48px) / 3);
  }
}

@media (min-width: 2500px) {
  .card {
    flex: 0 0 calc((100% - 64px) / 4);
  }
}